<DIV class="container-md"><h1 class="display-3">STUPID COACHING</h1></DIV>

<DIV class="container-md">
<p class="p-4 alert alert-dark" role="alert"><%= @question %><BR>- YOU</BR></p>
<p class="p-4 alert alert-warning" role="alert"><strong><%= @answer %></strong> <BR>- YOUR COATCH </BR><p>

<p style="text-decoration:none"></p><%= link_to 'Poser une autre question', ask_path %>
</DIV>
