<DIV class="p-4 container-md">
<h1>STUPID COACHING</h1></DIV>
<DIV class="p-4 container-md">
<form action="answer" data-turbo="false" class="row g-4">
    <div class="col-auto"><input type="text" name="answer" class="form-control mb-3"></div>
 <div class="col-auto"> <input type="submit" value="Ask!" class="btn btn-primary mb-3"></div>
</form></DIV>
